html,
body {
    margin: 0;
    padding: 0;
    background-color: #121314;
    color: white;
}

.nav-link {
    font-family: Verdana;
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    font-size: large;
    transition: color 0.2s ease;
    letter-spacing: 0.1em;
}

.nav-link:hover {
    color: #66A819;
}

.nav-link.active {
    color: #66A819;
}