---
import '../styles/content.css'; 
import { Image } from 'astro:assets';

interface Props {
    image: ImageMetadata;
    alt: string;
    embeddedLink: string;
    embedSide?: "left" | "right";
}

const {
    image,
    alt,
    embeddedLink,
    embedSide = "left"
} = Astro.props;
---

<style>
.embed-entry {
    display: flex;
    align-items: center;
    justify-content: center;

    width: min(1400px, 90%);
    
    gap: 1rem;
    margin: 1rem auto;
}

.reverse {
    flex-direction: row-reverse;
}

.embed {
    flex: 0 0 600px;
    height: auto;
}

.embed-image {
    width: 100%;
    height: 500px;
    object-fit: contain;
    display: block;
}

.embed iframe {
    width: 100%;
    height: 167px;

    border: 1px solid #000;
    border-radius: 6px;

    display: block;
    background: #363636;
}
</style>

<section class:list={["embed-entry", embedSide === "right" && "reverse"]}>
    <div class="embed">
        <Image 
          src={image} 
          alt={alt}
          class="embed-image"
        />
        <iframe
            src={embeddedLink}
            allowfullscreen
        />
    </div>

    <div class="content">
        <slot />
    </div>
</section>


