---
import Dropdown from "./Dropdown.astro";
const currentPath = Astro.url.pathname;

const links = [
  { href: "/", label: "Home" },
  { href: "/projects", label: "Projects" },
  { href: "/archive", label: "Archive" },
  { href: "/about", label: "About" }
];
---

<style>
  .nav-list {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 10;
    padding: 0;
  }

  .nav-list a {
    font-family: Verdana;
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    transition: color 0.2s ease;
  }

  .nav-list a:hover {
     color: #66A819;
  }

  .nav-list a.active {
    color: #66A819;
}
</style>

<nav>
    <ul class="nav-list">
        <li>
            <a
                href="/"
                class={currentPath === "/" ? "active" : ""}
            >
                Home
            </a>
        </li>

        <Dropdown
            href="/projects"
            label="Projects"
            currentPath={currentPath}
            items={[
                { href: "/projects/soft-body-physics", text: "Soft Body Physics" },
                { href: "/projects/mesh-slicer", text: "Mesh Slicer" }
            ]}
        />

        <Dropdown
            href="/archive"
            label="Archive"
            currentPath={currentPath}
            items={[
                { href: "/archive/tga-projects", text: "TGA Projects" },
                { href: "/archive/game-jams", text: "Game Jams" }
            ]}
        />

        <li>
            <a
                href="/about"
                class={currentPath === "/about" ? "active" : ""}
            >
                About
            </a>
        </li>
    </ul>
</nav>