---
import '../styles/global.css';
import Dropdown from "./Dropdown.astro";

const currentPath = Astro.url.pathname;
---

<style>
.nav-list {
    display: flex;
    gap: 4rem;
    list-style: none;
    margin: 0;
    padding: 0;
}
</style>

<nav>
    <ul class="nav-list">

        <li>
            <a
                href="/"
                class:list={[
                    "nav-link",
                    { active: currentPath === "/" }
                ]}
            >
                Home
            </a>
        </li>

        <Dropdown
            href="/projects"
            label="Projects"
            currentPath={currentPath}
            items={[
                { href: "/projects/soft-body-physics", text: "Soft Body Physics" },
                { href: "/projects/mesh-slicer", text: "Mesh Slicer" }
            ]}
        />

        <Dropdown
            href="/archive"
            label="Archive"
            currentPath={currentPath}
            items={[
                { href: "/archive/tga-projects/tga-projects", text: "TGA Projects" },
                { href: "/archive/game-jams/game-jams", text: "Game Jams" }
            ]}
        />

        <li>
            <a
                href="/about"
                class:list={[
                    "nav-link",
                    { active: currentPath === "/about" }
                ]}
            >
                About
            </a>
        </li>

    </ul>
</nav>