---
import { Image } from 'astro:assets';

interface Props {
  image: ImageMetadata;
  alt: string;
}

const { image, alt } = Astro.props;
---
<style>
.project-entry {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    margin: 4rem 0;
}

.project-entry img {
  height: 450px;
  width: auto;
  border-radius: 8px;
  flex-shrink: 0;
  display: block;
}

.content :global(h2){
  flex: 1;
  font-family: Verdana;
}

.content :global(p){
  flex: 1;
  font-family:  Arial;
}
</style>

<section class="project-entry">
  <Image src={image} alt={alt}/>
  <div class="content">
    <slot />
  </div>
</section>

