---
import ProjectCard from "./ProjectCard.astro";
import type { ImageMetadata } from "astro";
import type { ProjectData } from "../types/project-data";

interface Props {
    projects: ProjectData[];
    columns?: 1 | 2 | 3;
}

const {
    projects,
    columns = 3
} = Astro.props;
---
<style>
.grid {
    display: grid;

    width: min(1400px, 95%);
    margin: 2rem auto;

    justify-content: center;
    gap: 2rem;
}

.grid-1 {
    grid-template-columns: repeat(1, 1fr);
}

.grid-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}
</style>

<div class={`grid grid-${columns}`}>
    {projects.map(project => (
        <ProjectCard
            project={project}
            objectFit={project.objectFit}
        />
    ))}
</div>

