---
import '../styles/content.css'; 
import { Image } from 'astro:assets';

interface Props {
  image: ImageMetadata;
  alt: string;
  imageSide?: "left" | "right";
  imageHeight?: string;
}

const { 
  image, 
  alt, 
  imageSide = "left", 
  imageHeight = "400px"
  } = Astro.props;
---
<style>
.project-entry {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    margin: 4rem auto;
    width: min(1000px, 90%)
}

.project-entry.reverse {
    flex-direction: row-reverse;
}

.project-image {
  height: var(--image-height);
  width: auto;
  border-radius: 8px;
  flex-shrink: 0;
  display: block;
  border-radius: 32px;
}

.content {
    max-width: 500px;
}

</style>

<section class={`project-entry ${imageSide === "right" ? "reverse" : ""}`}>
  <Image 
  src={image} 
  alt={alt} 
  class="project-image"
  style={`height: ${imageHeight}; width: auto;`}
  />
  <div class="content">
    <slot />
  </div>
</section>

