---
interface Props {
    mediaSide?: "left" | "right";
}

const {
    mediaSide = "left"
} = Astro.props;
---

<style>
.media-entry {
    display: flex;
    align-items: center;

    width: min(1300px, 90%);
    margin: 1rem auto;
    gap: 3rem;
}

.media,
.content {
    flex: 1;
    min-width: 0;
    display: flex;
}

.media {
    justify-content: flex-end;
}

.content {
    justify-content: flex-start;
}

.reverse {
    flex-direction: row-reverse;
}

.reverse .media {
    justify-content: flex-start;
}

.reverse .content {
    justify-content: flex-end;
}

</style>

<section class:list={["media-entry", mediaSide === "right" && "reverse"]}>
    <div class="media">
        <slot name="media" />
    </div>

    <div class="content">
        <slot name="content"/>
    </div>
</section>
